   body {
        background-color: yellowgreen;
   }
   
   #mrJones{
                color: burlywood;
            }
            
            h1, h2, h3, h4 {                
                color: green;
                font-size: 30px;
                background-color: purple;
            }
            h1{
                color: coral;
                color: rgba(201, 63, 41, 0.723);
            }

            .uppercase{
                text-transform: uppercase;
                color: red;
                background-color: black;
            }

            .important{
                color: orchid;            
            }